<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
     content must come *after* these tags -->
  <title>Ristorante Con Fusion: Menu</title>

  <!-- usemin configuration -->
  <!-- build:css styles/main.css -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="styles/bootstrap-social.css" rel="stylesheet">
  <link href="styles/mystyles.css" rel="stylesheet">
  <!-- endbuild -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">
    <div class="row row-content" ng-controller="DishDetailController">
      <div class="col-xs-12">

        <div class="media margin-bot-10">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" ng-src="{{dish.image}}" alt="{{dish.name}} image">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">
              {{dish.name}}
              <span class="label label-danger label-xs">{{dish.label}}</span>
              <!-- price is piped through the currency filter -->
              <span class="badge">{{dish.price | currency:'£'}}</span>
            </h2>
            <p>{{dish.description}}</p>
          </div>
        </div>

        <!-- comment section -->
        <div class="col-xs-10 col-xs-offset-1">
          <p class="sort-text">Sort By: <input type="text" ng-model="order"></p>

          <!-- comment list -->
          <ul class="list-group comments-list">
            <li class="list-group-item" ng-repeat="comment in dish.comments | orderBy: order">
              <blockquote>
                <span class="rating-star glyphicon glyphicon-star" ng-repeat="s in starsIter(comment.rating)"></span
                  ><span class="bad glyphicon glyphicon-star" ng-repeat="s in starsIter(comment.rating, true)"></span>
                <span>{{comment.comment}}</span>
                <footer>{{comment.author}}, <em>{{comment.date | date}}</em></footer>
              </blockquote>
            </li>
          </ul>
        </div> <!-- comment section -->

        <!-- add new comment section -->
        <div class="col-xs-10 col-xs-offset-1" ng-controller="DishCommentController">
          <h3 class="text-center">Leave A Comment</h3>
          <ul class="list-group comments-list" ng-show="commentForm.$valid">
            <li class="list-group-item">
              <blockquote>
                <span class="rating-star glyphicon glyphicon-star" ng-repeat="s in starsIter(rating)"></span
                  ><span class="bad glyphicon glyphicon-star" ng-repeat="s in starsIter(rating, true)"></span>
                <span>{{comment}}</span>
                <footer>{{author}}</footer>
              </blockquote>
            </li>
          </ul>

          <form class="form-horizontal" role="form" name="commentForm" ng-submit="submitComment()" novalidate>
            <!-- name -->
            <div class="form-group" ng-class="{'has-error': commentForm.author.$invalid && commentForm.author.$dirty}">
              <label for="author" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="author" placeholder="Your name..." ng-model="author" required>
                <span ng-show="commentForm.author.$dirty && commentForm.author.$invalid" class="help-block">Name is required</span>
              </div>
            </div>

            <!-- rating -->
            <div class="form-group">
              <label for="rating" class="col-sm-2 control-label">Rating</label>
              <div class="col-sm-10">
                <span class="rating-btn"><input value="1" type="radio" ng-model="rating"> 1</span>
                <span class="rating-btn"><input value="2" type="radio" ng-model="rating"> 2</span>
                <span class="rating-btn"><input value="3" type="radio" ng-model="rating"> 3</span>
                <span class="rating-btn"><input value="4" type="radio" ng-model="rating"> 4</span>
                <span class="rating-btn"><input value="5" type="radio" ng-model="rating" checked> 5</span>
              </div>
            </div>

            <!-- comment -->
            <div class="form-group" ng-class="{'has-error': commentForm.comment.$invalid && commentForm.comment.$dirty}">
              <label for="comment" class="col-sm-2 control-label">Your Comment</label>
              <div class="col-sm-10">
                <textarea name="comment" class="form-control" rows="4" placeholder="Write comment here..."  ng-model="comment" required></textarea>
                <span class="help-block" ng-show="commentForm.comment.$invalid && commentForm.comment.$dirty">Comment is required</span>
              </div>
            </div>

            <!-- submit -->
            <div class="form-group">
              <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
              </div>
            </div>
          </form>
        </div>  <!-- end form -->
      </div>
    </div>
  </div>

  <!-- usemin configuration -->
  <!-- build:js scripts/main.js -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->

</body>
</html>
